<h3>Student Form</h3>
<%= form_tag student_path do %>
  <label>Student first_name:</label><br>
  <%= text_field_tag :'post[first_name]' %><br>

  <label>Student description:</label><br>
  <%= text_field_tag :'post[description]' %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
